<div class="m-x-auto newuser" id="signupCard">
<h3 class="card-title">Sign Up</h3>
<%= form_for @user do |f| %>
  <div>
    <span class="label label-default"></span><%= f.text_field :name, :class => "fnameSup", placeholder: "Full Name" %>
  </div>
  <br>
  <div>
    <span class="label label-default"></span><%= f.text_field :current_city, :class => "citySup", placeholder: "Current City" %>
  </div>
  <br>
  <div>
    <span class="label label-default"></span><%= f.text_field :email, :class => "emailSup", placeholder: "Email" %>
  </div>
  <br>
  <div>
    <span class="label label-default"></span><%= f.password_field :password, :class => "pwordSup", placeholder: "Password" %>
  </div>
  <br>
  <%= f.submit "Sign Up", :class => 'btn-primary' %>
<% end %>
</div>
